<%= form_for [@post, Comentario.new] do |f| %>
  <div>
    <%= f.label :Nome %><br />
    <%= f.text_field :nome_usuario %>
  </div>
  <br>
  <div>
    <%= f.label :Comentário %><br />
    <%= f.text_area :texto %>
  </div>
  <div>
    <%= f.submit "Enviar", :class => "btn btn-primary"%>
  </div>
<% end %>