<div class="well">
  <article>
      <p><h2><%= @post.titulo %></h2></p>
      <p>Criado em:<%= formata_data(@post.created_at)%></p>
      <p>Atualizado em:<%= formata_data(@post.updated_at)%></p>
      <p class="texto-post"><%= @post.conteudo %></p>    
      </p>
  </article>
</div>

<h2>Novo comentário</h2>
<%= render "comentarios/form" %>
<h2>Comentários</h2>

<%= pluralize(@post.comentarios.size, "comentário") %> 
<%= render @post.comentarios %> 
<br>
<br>
<br>
<div class ="btn btn-default btn-lg active" >
	<%= link_to 'Voltar', :controller => "posts", :action => "index"%>
</div>


