<div class="well">
      <p><h2><%= @post.titulo %></h2></p>
      <p>Criado em:<%= formata_data(@post.created_at)%></p>
      <p>Atualizado em:<%= formata_data(@post.updated_at)%></p>
	  <p class="conteudo-post"><%= @post.conteudo %></p>  
</div>

<h2>Novo comentário</h2>
<%= render "comentarios/form" %>
<h2>Comentários</h2>

<%= pluralize(@post.comentarios.size, "comentário") %> 
<%= render @post.comentarios.paginate :page => params[:page], :per_page => 10  %>
<br>
<br>
<br>
<div class="pager">
<%= will_paginate @post.comentarios.paginate :page => params[:page], :per_page => 10 %> 
</div>
<div <div class="btn btn-default">
	<%= link_to 'Voltar', :controller => "posts", :action => "index" %>
</div>


