<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @post.conteudo %>
</p>

<h2>Novo comentário</h2>
<%= render "comentarios/form" %>
<h2>Comentários</h2>

<%= pluralize(@post.comentarios.size, "comentário") %> 
<%= render @post.comentarios %> 
<br>
<br>
<br>
<%= link_to 'Voltar', :controller => "posts", :action => "index"%>


